.profilecard {
    padding: 4% 4% 4% 4%;
}

.profilecard .col1 {
    text-align: left;
}
.profilecard1 {
    padding: 0% 4% 0% 4%;
    margin: -6% 0% 0% 0%;
}
.formgroup1 {
    margin: 0% 10% 0% 10%;
}
.formgroup1 {
    margin: 0% 10% 0% 10%;
}

.profilecard1 .col2 {
    text-align: left;
}

.profileimage {
    border-radius: 11px !important;
    background-color: #c5d4c7 !important;
    padding: 5% !important;
    margin-top: -5%;
    
}

.profileimage1 {
    border-radius: 25px !important;
    background-color: rgb(90, 183, 105) !important;
    height: 20%;
    color: aliceblue;
    padding: 5% !important;
    margin: -7% -4.5% 6% -4.5%;
    display: flex;
    justify-content: space-between;
}

.card-user {
    height: 50%;
}

.profileimage2 {
    border-radius: 25px !important;
    background-color: rgb(90, 183, 105) !important;
    height: 20%;
    color: aliceblue;
    padding: 3% !important;
    margin: -4% -4.5% 0% -4.5%;
    text-align: center;
}

.profilecard .formgroup .input1 {
    width: 100%;
    padding: 3% 0% 3% 7%;
    margin: 5px 40px 32px 44px;
    display: inline-block;
    height: 2%;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    color: #515752;
    border-color: #5ab769;
    border: 1px solid #5ab769;
  }
.profilecard .formgroup .profilelabel {
    margin-left: 45px;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 4%;
  }
.profilecard1 .formgroup1 .input11 {
    width: 100%;
    padding: 3% 0% 3% 7%;
    margin: 5px 40px 32px 44px;
    display: inline-block;
    height: 2%;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    color: #515752;
    border-color: #5ab769;
    border: 1px solid #5ab769;
  }
.profilecard1 .formgroup1 .profilelabel1 {
    margin-left: 45px;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 4%;
  }


.profiletitle {
    color: #5ab769;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
}
.profiletitle1 {
    color: #515752;
    text-decoration: none;
    font-weight: bolder;
    margin: 4%;
    text-transform: none !important;
}

.title1 {
    width: 100%;
    font-weight: bolder;
}

.profileinput {
    width: 86%;
    padding: 3% 0% 3% 7%;
    margin: 3px 39px 30px 23px;
    display: inline-block;
    border: none;
    font-weight: bold;
    color: #5ab769;
    border-color: #5ab769;
    border-radius: 25px;
    border: 1px solid #5ab769;
}

.changepasswordform {
    padding: 0% 0% 0% 0%;
    margin: 0px 67px 0px 0px;
}